arxiv
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
langsmith
pydantic
pymupdf
pypdf
python-dotenv
qdrant-client
streamlit
tavily-python
ipykernel